<?xml version="1.0" encoding="UTF-8"?>

<!-- Either need to hard-code location of DTD or use internal. -->
<!-- FIXME: Verify this and/or fix. -->
<!-- <!DOCTYPE system SYSTEM "/home/sundquis/book/sog/system.dtd">  -->

<!DOCTYPE system [
	<!ELEMENT system (class)* >
	<!ATTLIST system
		description	CDATA	#REQUIRED
	>
	
	<!ELEMENT class (property | text)* >
	<!ATTLIST class
		fullname	CDATA	#REQUIRED
	>
	
	<!ELEMENT property EMPTY >
	<!ATTLIST property
		name	CDATA	#REQUIRED
		value	CDATA	#REQUIRED
	>
	
	<!ELEMENT text (#PCDATA) >
	<!ATTLIST text
		name	CDATA	#REQUIRED
	>
]>

<system description="Developmental demonstration version.">

	<!-- Properties for TestResultSet -->
	<class fullname="sog.core.test.TestResultSet">
		<property name="verbose" value="false" />
	</class>

	
	<!-- Properties for TestResult -->
	<class fullname="sog.core.test.TestResult">
		<property name="progress" value="true" />
		<property name="wrap" value="80" />
	</class>


    <!-- Properties for App -->
    <class fullname="sog.core.App">
        <property name="description" value="Developmental version of application framework" />
        <property name="root" value="/home/sundquis/book/sog" />
        <property name="source.dirs" value="/home/sundquis/book/sog/src" />
    </class>

    <!-- Tracing properties -->
    <class fullname="sog.core.Trace">
        <property name="dir.name" value="trace" />
        <property name="warn.limit" value="1000000" />
        <property name="fail.limit" value="100000000" />
        <property name="max.buffer.size" value="100" />
    </class>

	<!--  ByteFile properties on sizes -->
	<class fullname="sog.core.ByteFile">
		<property name="maxLength" value="1000000000" />
		<property name="warnLimit" value="2000000000" />
		<property name="failLimit" value="5000000000" />
	</class>
    
	<class fullname="sog.core.SoftString">
		<property name="threshold" value="50" />
	</class>

	<!--  ByteFile properties on sizes -->
	<class fullname="sog.core.Strings">
		<property name="collection.max.length" value="7" />
		<property name="array.max.length" value="7" />
	</class>

    <!-- For testing -->
	<class fullname="test.sog.core.PropertyTest">
		<property name="repeated" value="foo" />
		<property name="repeated" value="bar" />
		<property name="message" value="bar" />
		<text name="empty message"></text>
		<text name="message">Bar</text>
		<text name="repeated">One</text>
		<text name="repeated">Two</text>
		<text name="repeated">Bar</text>
	</class>

    <!-- For testing -->
	<class fullname="test.sog.core.PropertyTest$Inner$Nested">
		<property name="message" value="bar" />
		<text name="message">Message.</text>
	</class>

    <!-- For testing -->
	<class fullname="test.sog.core.PropertyTest$Inner">
		<property name="message" value="bar" />
		<text name="message">Message.</text>
	</class>
	

	<class fullname="sog.core.xml.XML">
		<text name="declaration"><![CDATA[<?xml version="1.0" encoding="utf-8"?>]]></text>
	</class>
		
	<class fullname="sog.util.Macro">
		<property name="maxIterations" value="100" />
	</class>
	
	<class fullname="sog.core.test.Policy">
		<property name="current.policy" value="STRICT" />
	</class>

</system>
